.git
.gitignore
.github
.devcontainer
.agents
.changeset

node_modules
.pnpm-store
.nuxt
.output
.data
.nitro
.cache
dist

test-results
playwright-report
blob-report
playwright/.cache
playwright/.auth

e2e
tests

.env
.env.*
!.env.example

pnpm-debug.log*
*.log
